.navbar-container{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 5px;
    justify-content: space-around;
    padding: 1rem 0.5rem;
}

.logo-container,
.navbar,
.cta-container{
    display: flex;
    flex: 1 0 0;
}

.navbar{
    justify-content: center;
}

.cta-container{
    justify-content: end;
}