/* Layout */
.main-container{
    padding: 1rem 1.5rem;
    width: 100%;
}

/* Font Weights */
.bold{
    font-weight: bold;
}

.bolder{
    font-weight: bolder;
}

/* Font Sizes */
.font-huge{
    font-size: 48px;
}

.font-larger{
    font-size: 32px;
}

.font-large{
    font-size: 28px;
}

.font-bigger{
    font-size: 24px;
}

.font-big{
    font-size: 18px;
}

.font-small{
    font-size: 12px;
}

.font-smaller{
    font-size: 10px;
}

/* Font Colors */
.gold-text{
    color: #ff9900;
}

.white-text{
    color: #FFFFFF;
}
